<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="SubItemMapper">

	<select id="sItemInfo" parameterType="String" resultType="SubItemDTO">
		select * from subitem where gCode=#{gCode}	
	</select>
	<select id="subItemList" parameterType="String" resultType="SubItemDTO">
		select * from subitem where gCategory=#{gCategory}	
	</select>
</mapper>