<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!-- mapper의 이름을 구분지을수 있다. -->
<mapper namespace="MemberMapper">

	<insert id="memberAdd" parameterType="MemberDTO">
		insert into member
		(num, username, userid, passwd, ybirth, mbirth, dbirth,
		gender, email,
		phone)
		values (member_seq.nextval, #{username}, #{userid}, #{passwd}, #{ybirth}, #{mbirth},
		#{dbirth},
		#{gender},
		#{email}, #{phone})
	</insert>


	<select id="idCheck" parameterType="string" resultType="int">
		select
		count(*) from member where userid = #{userid}
	</select>


	<select id="login" parameterType="hashmap"
		resultType="MemberDTO">
		select * from member where userid = #{userid} and passwd =
		#{passwd}
	</select>


	<select id="mypage" parameterType="string"
		resultType="MemberDTO">
		select * from member where userid = #{userid}
	</select>


<!-- 초기 db생성시 모든 데이터를 not null로 설정하여서 다른데이터들을 지정하면 오류 발생하므로 비밀번호만 선택해서 수정처리 한다. -->
	<update id="memberUpdate" parameterType="MemberDTO">
		update member
		set passwd = #{passwd}
		where userid = #{userid}
	</update>
</mapper>