@charset "UTF-8";

body {
    max-width: 1200px; 
    padding : 15px;
    min-height: 100vh;
    background-color: white; 
    margin: 0 auto;
}
/* 제목 */
header {
	font-size : 25px;
    padding: 15px;
    text-align: center; 
}
header a{
	font-size: 25px;
	text-decoration: none;
}
.top {
	margin: 50px;
	text-align: center;
	font-size: 20px;
}
.button {
    position: absolute;
    top:50%
}
.topmenu > a {
	float : right;
	text-decoration-line: none;
	padding: 5px;
}

nav {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  background-color: blue;
  color: white;
  font-size : 50px;
}
ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

#main-menu > li {
  float: left;
  position: relative;
}

#main-menu > li > a {
  font-size: 18px;
  color: white;
  text-align: center;
  text-decoration: none;
  letter-spacing: 1px;
  display: block;
  padding: 14px 90px;
}

/* Left column */
.leftcolumn {   
    float: left;
    width: 33.3%;
}
/* Center column */
.centercolumn {   
    float: left;
    width: 33.3%;
}
/* Right column */
.rightcolumn {
    float: left;
    width: 33.3%;
}


img{
	border-radius: 10px;
}
.movie {
	text-align: center;
    padding: 20px;
    margin-top: 20px;
}

.searchBox button {
	background-color: #539cae;
	color: #f2f2f2;
	border-radius: 0.3rem;
	border: 0;
	cursor: pointer;
	padding: 0.5rem;
}
section{
	min-height: 1000px;
}

.mainmovie {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 비율인 경우 */
	padding-top: 25px;
	height: 0;
}
.mainbutton {
	font-size: 20px;
	top:50%;
	background-color: white;
	border-color: blue;
	border-radius: 10px;
	margin: 20px;
	padding: 10px 50px;
}
/* movie list */

.movie-list h2 {
	margin-top: 30px;
	margin-left: 30px;
}

.movie-list > div > div {
	display: inline-block;
	width: 292px;
	height: 512px;
	margin-top: 20px;
}

.movie-list > div > div .poster {
	position: relative;
	margin-left: 5px;
}

.movie-list > div > div .poster img{
	display: block;
}

.movie-list > div > div .infor {
	background: #fff;
	padding: 0; 
}

.movie-list > div > div .infor h3 {
	font-weight: 700;
	margin-bottom: 20px;
}

.movie-list > div > div .infor h3 strong {
	margin-left: 20px;
}

.movie-list > div > div .infor .infor-btn {
	margin-left: 10px;
	
}

.movie-list > div > div .infor .infor-btn a {
	display: inline-block;
	text-decoration: none;
	background: #f2f2f2;
	font-size: 18px;
	padding: 15px 30px;
} 


